.background {
  height: 100vh;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(185, 250, 186, 1) 100%
  );
}

.align-left {
  display: flex;
  margin-left: 10%;
}

.scroll {
  background-color: white;
  display: flex;
  width: 80%;
  height: 50vh;
  margin-right: 10%;
  margin-left: 10%;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  border: 1px solid black;
  align-items: center;
}

.cardsContainer {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: left;
}
