.body {
  height: 100vh;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(185, 250, 186, 1) 100%
  );
}

.slogan {
  font-size: 4vw;
  color: #486448;
  text-shadow: rgb(0, 0, 0) 0.03em 0.001em 0.001em;
  font-family: cursive;
  opacity: 0;
}

.fadein {
  transition: opacity 5s linear 5s;
  opacity: 1;
}

.icon {
  width: 35vw;
  margin-bottom: 2vh;
}

.sub-title {
  font-size: 2vw;
  color: #486448;
}

@media (max-width: 650px) {
  .slogan {
    font-size: 8vw;
  }
  .icon {
    width: 80vw;
  }
  .sub-title {
    font-size: 3vw;
  }
}
