.error404 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(185, 250, 186, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 100vh;
  padding-top: 100px;
}

.oops {
  display: flex;
  position: absolute;
  left: 10vw;
  bottom: 200px;
  width: 10%;
}

.message {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 5em;
}
